################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/INAF.WebApps.HyperLab/bin/Debug/net8.0
/INAF.WebApps.HyperLab/obj
/.vs/INAF.WebApps.HyperLab/FileContentIndex
/INAF.WebApps.HyperLab/appsettings.Development.json
/INAF.WebApps.HyperLab/appsettings.json
/.vs/INAF.WebApps.HyperLab/v17
/INAF.WebApps.HyperLab
/.vs/ProjectEvaluation
/.vs/INAF.WebApps.HyperLab/v17/.futdcache.v2
/.vs/INAF.WebApps.HyperLab/DesignTimeBuild/.dtbcache.v2
/.vs/INAF.WebApps.HyperLab/v17/.suo
/.vs/INAF.WebApps.HyperLab/v17/DocumentLayout.json
/.vs/INAF.WebApps.HyperLab/copilot-chat/304e2c06/sessions/30b07ba1-16d7-48e4-8f9e-2ddf1c1dd3bf
/.vs/INAF.WebApps.HyperLab/copilot-chat/304e2c06/sessions/460700ae-3cb8-44c8-b797-1497437203fe
/.vs/INAF.WebApps.HyperLab/copilot-chat/304e2c06/sessions/62d68cdf-19bb-4fcc-922d-de8fdbea0226
/.vs/INAF.WebApps.HyperLab/copilot-chat/304e2c06/sessions/7cba08a7-4665-4a94-b44e-a9d5cb9a5d4b
/.vs/INAF.WebApps.HyperLab/CopilotIndices/0.2.1634.3922
/INAF.WebApps.HyperLab/wwwroot/metro/css/dist/metrobundle.css
/INAF.WebApps.HyperLab/wwwroot/metro/js/dist/metrobundle.js
/INAF.WebApps.HyperLab/wwwroot/metro/js/dist/metrobundle.min.js
/.vs/INAF.WebApps.HyperLab/CopilotIndices/0.2.1653.9816
/INAF.WebApps.HyperLab/wwwroot/css/dist/apps/appsbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/devextreme/devextremebundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/home/cookiebannerbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/home/indexbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/materials/mineralsbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/search/searchbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/users/usersbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/commonbundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/jqueryuibundle.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/speechbubble.min.css
/INAF.WebApps.HyperLab/wwwroot/js/dist/devextreme/devextremebundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/materials/mineralsbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/search/blazorglobalbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/search/searchbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/users/upsertuserbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/users/userslistbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/commonbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/jquerybundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/account/login.min.js
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.12.68.61481
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.13.431.34963
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.13.439.2385
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.13.441.19478
/INAF.WebApps.HyperLab/wwwroot/css/dist/apps/appsbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/devextreme/devextremebundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/home/cookiebannerbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/home/indexbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/materials/mineralsbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/dist/users/usersbundle.min.css
/INAF.WebApps.HyperLab/wwwroot/css/animate/animate.css
/INAF.WebApps.HyperLab/wwwroot/css/animate/animate.compat.css
/INAF.WebApps.HyperLab/wwwroot/css/animate/animate.min.css
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.13.444.19527
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.670.39694
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.698.11175
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.719.50355
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.734.62261
/INAF.WebApps.HyperLab/wwwroot/js/dist/account/loginbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/account/passwordresetexecutebundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/account/passwordresetrequestbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/account/registrationbundle.js
/INAF.WebApps.HyperLab/wwwroot/js/dist/commonbundle.js
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.794.21998
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.786.1071
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.878.3237
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.939.21063
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.1147.5054
/.vs/INAF.WebApps.HyperLab/CopilotIndices/17.14.1204.46620
